body {
  background-color: #F5F5F5;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  margin: 50px auto;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #BDBDBD;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #263238;
}

p {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #757575;
}
