.websiteBody{
  margin: 0;
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:1024px;
  min-width:200px;
  max-width:1920px;
  margin:auto;
  background:linear-gradient(54.58deg, rgba(70, 29, 99, 1) 49.999998509941086%, rgba(99, 57, 129, 0.9800000190734863) 99.68247383000755%);
  overflow:hidden;
}
.home_a{
  position:relative;
  z-index:14;
  pointer-events:none;
  margin-left:45px;
  width:75px;
  min-width:75px;
  height:75px;
  margin-top:45px;
  margin-bottom:904px;
  min-height:75px;
  background-color:rgba(255, 255, 255, 0);
  overflow:hidden;
}
.Vector{
  position:relative;
  z-index:16;
  pointer-events:none;
  margin-left:10.666666666666666%;
  width:79.16%;
  height:79.16%;
  margin-top:10.666666666666666%;
  content:url(assets/images/Vector.png);
}
.Vector-outer{
  pointer-events:none;
  z-index:16;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.home-1{
  position:relative;
  z-index:15;
  pointer-events:none;
  margin-left:0%;
  width:100%;
  height:100%;
  margin-top:0%;
  content:url(assets/images/Vector_1.png);
}
.home{
  pointer-events:none;
  z-index:15;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Plethora-Logo-PNG{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:487px;
  width:137px;
  min-width:137px;
  height:137px;
  margin-top:-582px;
  margin-bottom:445px;
  min-height:137px;
  content:url(assets/images/Plethora_Logo_PNG.png);
}
.Plethora-Logo-PNG-outer{
  pointer-events:none;
  z-index:3;
  position:relative;
  display:flex;
}
.Frame-4{
  position:relative;
  z-index:11;
  pointer-events:none;
  margin-left:1143px;
  width:137px;
  min-width:137px;
  height:137px;
  margin-top:-580px;
  margin-bottom:443px;
  min-height:137px;
  overflow:hidden;
}
.Frame-4-outer{
  pointer-events:none;
  z-index:11;
  position:relative;
  display:flex;
}
.Group{
  position:relative;
  z-index:12;
  pointer-events:none;
  margin-left:13px;
  width:109.73px;
  min-width:109.73px;
  height:104.1px;
  margin-top:121px;
  margin-bottom:-88.10000000000002px;
  min-height:104.1px;
}
.Group-outer{
  pointer-events:none;
  z-index:12;
  position:relative;
  display:flex;
}
.Vector-2{
  position:relative;
  z-index:13;
  pointer-events:none;
  margin-left:0%;
  width:100%;
  height:100%;
  margin-top:-94.77809167957714%;
  content:url(assets/images/Vector_2.png);
}
.Vector-2-outer{
  pointer-events:none;
  z-index:13;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Frame-2{
  position:relative;
  z-index:8;
  pointer-events:none;
  margin-left:160px;
  width:137px;
  min-width:137px;
  height:137px;
  margin-top:-580px;
  margin-bottom:443px;
  min-height:137px;
  content:url(assets/images/Frame_2.png);
}
.Frame-2-outer{
  pointer-events:none;
  z-index:8;
  position:relative;
  display:flex;
}
.Frame-1{
  position:relative;
  z-index:6;
  pointer-events:none;
  margin-left:816px;
  width:137px;
  min-width:137px;
  height:137px;
  margin-top:-580px;
  margin-bottom:443px;
  min-height:137px;
  overflow:hidden;
}
.Frame-1-outer{
  pointer-events:none;
  z-index:6;
  position:relative;
  display:flex;
}
.Vector-3{
  position:relative;
  z-index:7;
  pointer-events:none;
  margin-left:8.759124087591243%;
  width:82.54744525547447%;
  height:96.64233576642336%;
  margin-top:2.1897810218978107%;
  content:url(assets/images/Vector_3.png);
}
.Vector-3-outer{
  pointer-events:none;
  z-index:7;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.LOGO-1{
  position:relative;
  z-index:5;
  pointer-events:none;
  margin-left:652px;
  width:136px;
  min-width:136px;
  height:137px;
  margin-top:-580px;
  margin-bottom:443px;
  min-height:137px;
  content:url(assets/images/LOGO_1.png);
}
.LOGO-1-outer{
  pointer-events:none;
  z-index:5;
  position:relative;
  display:flex;
}
.Logo-2-1{
  position:relative;
  z-index:4;
  pointer-events:none;
  margin-left:324px;
  width:137px;
  min-width:137px;
  height:137px;
  margin-top:-580px;
  margin-bottom:443px;
  min-height:137px;
  content:url(assets/images/Logo_2_1.png);
}
.Logo-2-1-outer{
  pointer-events:none;
  z-index:4;
  position:relative;
  display:flex;
}
.Frame-3{
  position:relative;
  z-index:9;
  pointer-events:none;
  margin-left:68.05555555555556%;
  width:9.51388888888889%;
  height:13.37890625%;
  margin-top:30.833333333333332%;
}
.Frame-3-outer{
  pointer-events:none;
  z-index:9;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Logo-Juno-Woz-White-{
  position:relative;
  z-index:10;
  pointer-events:none;
  margin-left:8.02919708029197%;
  width:83.21897810218978%;
  height:82.54744525547446%;
  margin-top:8.75912408759124%;
  background-image:url(assets/images/Logo_Juno_Woz_White_1.png);
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}
.Logo-Juno-Woz-White--outer{
  pointer-events:none;
  z-index:10;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
